h1, h2, h3{
text-align:center;
}
body{
 margin: 0;
 background:url('wood.jpg');
 background-repeat:repeat;
 font-family:leagueGothic;
 }
 #menubtn{
  margin-top:10px;
 }

.glyphicon{
	color:#FFF;
	font-size: 25px;
	padding: 0px;
}
#leaf{
	float: right;
	
}
#name{
	float: right;
	
}
#gradepage{
	margin-left: 50px;
	margin-right: 50px;
	height: 690px;
	width: 90%;
	border: 2px solid #232323;
	background: url("paper2.jpg");
    border-radius: 25px;
}
#ron{
	height:250px;

	border: 5px inset #101010;
}
#ch4{
	height:32px;
	margin-top: -7px;
}
#studentinfo{
    margin-top: 150px;
   
	margin-left: -50px;
}


#lunchbox{

	 border: 2px inset #171717;
     border-radius: 25px;
     background-color: #BFC7FB;
     
}
#lunchToday{
    margin-bottom: 10px;
}
#lunchLabel{
    margin-bottom:10px;
    
}     

.sideText{
    font-size: 60px !important;
}   
/*here is where the simple sidebar css starts*/


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 10%;
    height: 100%;
    margin-left: -230px;
    overflow-y: auto;
    background: url('black.jpg');
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-radius: 25px;
    border: 2px solid #232323;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
   
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #D4D4D4;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #FFF;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand5 {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    background-color:#2BA624;
    border-width: 15px;
    border-color:#1B1B1B;
}


.sidebar-nav > .sidebar-brand1 {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    background-color:#0704C1;
}

.sidebar-nav > .sidebar-brand6 {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    background-color:#B6048B;
}
.sidebar-nav > .sidebar-brand2 {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    background-color:#6F4501;
  
}
.sidebar-nav > .sidebar-brand3 {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    background-color:#FF2D2F;
  
}
.sidebar-nav > .sidebar-brand4 {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    background-color:#FDA226;
  
}
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
@font-face{
    font-family:leagueGothic;
    src: url(LeagueGothic-Regular.otf)
}

.teachername, .classname{
    margin:0 !important;
}
#c1grades{
    padding-top: 10px;
}
#gradeContainer{
    margin-top: 30px;
    border-radius: 25px;
    border:1px inset #101010;
}

